* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Menyunu alt-alta yığır */
        height: auto;
    }
    .search-box {
        padding: 10px;
        width: 90%;
        margin: 10px 0;
    }
    .anime-container {
        grid-template-columns: 1fr 1fr; /* Şəkilləri 2-2 düzür (noutbukda 4-4 idisə) */
    }
    .search-box input {
        font-size: 0.9rem;
    }
    .logo a {
        font-size: 1.2rem;
    }
    .nav-links {
        gap: 15px;
    }
}





body {

    background: #504b4b;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a0a0a;
    padding: 10px 20px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 5px solid #ed1c09;
}
.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ea0606;
    letter-spacing: 2px;
    text-decoration: none;
}
.nav-links  {
    display: flex;
    list-style: none;
    gap: 25px;
    align-items: center;

    
}
.nav-links a {
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
    
}
.nav-links a:hover {
    color: #ff0000ee;
}
.search-box {
    display: flex;
    align-items: center;
    background: rgba(255,255,255,0.1);
    border: 2px solid #fe0000;
    border-radius: 50px;
    align-items: center;
    padding: 10px 200px;
}
.search-box input {
    flex: 1;
    border: none;
    background: transparent;
    color: white;
    font-size: 1rem;
    outline: none;
    width: 100%;
    padding: 8px;
}
.search-box button {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;
}
.search-box button:hover {
    color: #ff0000ee;
    transform: scale(1.1);
}


.auto-group {
    display: flex;
    gap: 15px;
    align-items: center;
}
.login-link, .register-link {
    color: white;
    background-color: #000000;
    text-decoration: none;
    border-radius: 15px;
    font-weight: 500;
     padding: 10px 20px;
    transition: color 0.3s ease;
}
.register-link {
    background-color: #ed1c09;
   transform: translateY(-2px)
}
.login-link:hover  {
    color: #ff0000ee;
}
.register-link:hover {
    color: #000000ee;
}

video{
    width:auto;
    height: auto;
    margin-top: 20px;

}
.titan-head{
    display: flex;
    flex: wrap;
    align-items: baseline;
    gap: 20px;
    justify-content: flex-start;
    padding: 20px;
}
.titan-img {
    width: 45%;
    height: auto;
    margin-top: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    box-shadow: 0 0 10px rgb(252, 11, 11);
}
.titan-img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


.anime-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    margin-top: 10px;
}
.anime-card {
    text-decoration: none;
    overflow: hidden;

    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(208, 27, 27, 0.5);
    transition: transform 0.3s ease;
}
.anime-card:hover {
    transform: scale(1.05);
    border-color: #ea0606;
    box-shadow: 0 10 20px rgba(234, 6, 6, 0.7);
}
.img-box {
    position: relative;
    height: 300px;
}
.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.play-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.img-box:hover .play-overlay {
    opacity: 1;
}
.anime-info {
   padding: 15px;
   color: white;
}
.anime-info h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;

}

